{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": false,
        "modules": "commonjs",
        "targets": {
          "node": 4,
          "browsers": [
            "last 4 versions",
            "safari >= 7",
            "ie >= 9"
          ]
        },
        "loose": true
      }
    ],
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread"
  ]
}
